<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
<xi:include href="layout.html" />
<xi:include href="macros.html" />
<head>
<title>Release Artifact Graph</title>
<link rel="stylesheet" type="text/css"
	href="${chrome.htdocs_location}css/roadmap.css" />
</head>
<body>
<div id="content" class="roadmap">
<h1>Release Artifact Graph</h1>

<div class="description" xml:space="preserve">
${wiki_to_html(context, graph )}</div>

<ul class="milestones">
	<li py:for="idx, milestone in enumerate(milestones)" class="milestone">

		<h2><a href="${href.milestone(milestone.name)}">${milestone.name}</a></h2>
		<div py:for="idx, artifact in enumerate([a for a in artifacts if a.milestone == milestone.name])" class="milestone">
			${wiki_to_html(context, ' * Customer: ' + artifact.keywords)}
			${wiki_to_html(context, ' * SCM Path: [source:' + artifact.tag + ']')}
			${wiki_to_html(context, ' * Download URL: ' + artifact.url)}
		</div>
	</li>
</ul>

</div>
</body>
</html>
